<main>
  <div class="button-container">
    <div class="button-card">
      <img src="assets/resources/icons/empresa.png" alt="Empresa Icon">
      <p>Empresa</p>
    </div>
    <div class="button-card">
      <img src="assets/resources/icons/funcionarios.png" alt="Funcionário Icon">
      <p>Funcionario</p>
    </div>
    <div class="button-card">
      <img src="assets/resources/icons/cliente.png" alt="Pessoa Física Icon">
      <p>Pessoa Física</p>
    </div>
    <div class="button-card">
      <img src="assets/resources/icons/cliente.png" alt="Pessoa Jurídica Icon">
      <p>Pessoa Jurídica</p>
    </div>
    <div class="button-card">
      <img src="assets/resources/icons/novo-usuario.png" alt="Usuário Icon">
      <p>Usuario</p>
    </div>
    <div class="button-card">
      <img src="assets/resources/icons/produtos.png" alt="Produto Icon">
      <p>Produto</p>
    </div>
    <div class="button-card">
      <img src="assets/resources/icons/medico.png" alt="Médico Icon">
      <p>Médico</p>
    </div>
    <div class="button-card">
      <img src="assets/resources/icons/notes_768818.png" alt="Ordem Serviço Icon">
      <p>Ordem Serviço</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Cargo Funcionario</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Agendamento</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Categoria</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Cliente</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Exame</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Tipo de Pagamento</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Lente</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Marca</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Unidade</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Venda</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Receita</p>
    </div>
  </div>
</main>
